<!-- INCLUDE overall_header.html -->

<form method="post" action="{U_FORM_ACTION}" id="agreement">

	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div class="content">
			<h2>Dummy - Nutzungsbedingungen</h2>
			<p>Mit dem Zugriff auf „Dummyseite“ wird zwischen dir und dem Betreiber ein Vertrag mit folgenden Regelungen geschlossen:</p>
			<h3>1. Nutzungsvertrag</h3>
			<p>Dummyregelung.</p>
		</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset class="submit-buttons">
			
			<input type="submit" name="agreed" id="agreed" value="Ich bin mit diesen Bedingungen einverstanden" class="button1" />&nbsp;
			<input type="submit" name="not_agreed" value="Ich bin mit diesen Bedingungen nicht einverstanden" class="button2" />
			{S_FORM_TOKEN}
		</fieldset>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	</form>

<!-- INCLUDE overall_footer.html -->